<!doctype html>
<html>

  <head>

    <title>Photostream</title>

    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap.min.css" rel="stylesheet">

  </head>

  <body>

    <div class="container">

      <h1 class="page-header">Photostream</h1>

      <ul class="thumbnails"></ul>

    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>

      function poll() {

        $.ajax({

          url: '/photos',
          success: function(photos) {

            $.each(photos, function(index, photo) {

              if($('.thumbnails img[src="/photos/' + photo + '"]').length != 0)
                return;

              $('.thumbnails').prepend('<li class="span4"><a href="/photos/' + photo + '" class="thumbnail"><img src="/photos/' + photo + '"></a></li>')

            });

            setTimeout(poll, 1000);

          }

        });

      }

      poll();

    </script>

  </body>

</html>